:root {
  --main-background: #13171E;
  --color-blue: #03bbfb;
  --button-background: #4ED4FF;
  --button-font: #22596A;
  --color-terminal-menu: #252831;
  --color-terminal-screen: #1e2027;
  --color-background-dark: #121419;
  --color-card-team: #121419;
  --color-white: #ffffff;
  --color-gray: #adaeaf;
  --color-light-blue: #41d0ff;
}
