:root {
  --color-background: #2e3440;
  --color-background-dark: #13151a;
  --color-terminal-menu: #1a1c22;
  --color-white: #ffffff;
  --color-gray: #adaeaf;
  --color-blue: #03bbfb;
  --color-light-blue: #41d0ff;
}
