:root {
  --color-background: #2E3440;
  --color-background-dark: #13151a;
  --color-terminal-menu: #1a1c22;
  --color-white: #FFFFFF;
  --color-gray: #adaeaf;
  --color-blue: #4ED4FF;
  --color-light-blue: #7dddfd;
}